# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules

# build output
dist/

# Exclude sourcemaps
*.map

# Exclude macOS Finder (System Explorer) View States
.DS_Store

coverage/
cubox-highlights.json
test/
.cursor

# Tauri
src-tauri/target/
src-tauri/gen/

# Temp icon source
app-icon.png
